<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
</head>
<body>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>

<h1>This is my about page</h1>

<div class="post">
	 
	<div class="date">November 23 2015</div>
	<h2>About this page</h2>

	<p>Bresaola short ribs pastrami, beef ribs spare ribs kielbasa ham tongue kevin landjaeger chicken ball tip. Pork chop beef kevin strip steak, chicken pork belly pastrami ham hock flank shoulder chuck turkey ribeye andouille ball tip. Leberkas ham ham hock pork loin. Filet mignon bacon pancetta leberkas turducken fatback tongue frankfurter jowl. Shoulder tenderloin chicken shank bacon shankle sirloin.</p>

	
	<hr>
</div>

<%= link_to 'Home', root_path %>
</body>
</html>