<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
</head>
<body>
<div class="content">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
	<div class="center jumbotron">
		<h1>ALPHA BLOG</h1>
		<%= link_to "Sign up now", "#", class: "btn btn-danger btn-xlarge" %>
	</div>
	<h1>This is my home page sample title</h1>
	
	<div class="post">
		 
		<div class="date">November 23 2015</div>
		<h2>Welcome to the Alpha Blog</h2>
	
		<p class="quote">
		Bacon ipsum dolor amet capicola strip steak landjaeger, biltong spare ribs rump cow ground round andouille sirloin pork. Short ribs pig prosciutto swine. Flank turducken turkey rump, leberkas shoulder bresaola ham hock tail drumstick corned beef. Venison pork chop beef jowl short ribs.
		</p>
	
		<p>Bresaola short ribs pastrami, beef ribs spare ribs kielbasa ham tongue kevin landjaeger chicken ball tip. Pork chop beef kevin strip steak, chicken pork belly pastrami ham hock flank shoulder chuck turkey ribeye andouille ball tip. Leberkas ham ham hock pork loin. Filet mignon bacon pancetta leberkas turducken fatback tongue frankfurter jowl. Shoulder tenderloin chicken shank bacon shankle sirloin.</p>
	
		<p>Pork pig pork loin prosciutto meatball turkey beef ribs ground round. Pork belly salami shank pork chop turducken ribeye swine shoulder tri-tip fatback cupim short loin chuck strip steak. Rump pork chop t-bone.</p>
		<hr>
	</div>
	
	<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>
</div>
</body>
</html>